* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* This Is For Background =======================================*/
.First {
  height: 100%;
  width: 100%;
  background-image: url(../Public/Background.png);
  background-size: cover;
  background-position: center;
}
/* This is For All Nav ==========================================================*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
/* Logo (Portfolio To Left) =========================================================*/
.Logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #f9004d;
}
/* Nav (making nav inline / color design / font design /hover smooth transition) ============================================*/
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.4s;
}
nav ul li a:hover {
  color: #f9004d;
  font-size: 20px;
}
/* Subscribe Button =======================================================================================*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 20px;
}
.btn {
  font-weight: bold;
  background-color: transparent;
  width: 125px;
  height: 38px;
  border: none;
  color: #f9004d;
  padding: 10px 25px;
  border-radius: 30px;
  transition: ease-out 0.3s;
  font-size: 2rm;
  outline: none;
  border: 3px solid #f9004d;
  position: relative;
  z-index: 1;
}

.btn:hover {
  color: white;
  cursor: pointer;
  /* box-shadow: inset 125px 0 0px 0 #f9004d; */
}
.btn::before {
  border-radius: 10px;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #f9004d;
}
.btn:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* All Home Content ========================================================================================*/
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 50px;
  padding-left: 30px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  letter-spacing: 2px;
  padding-left: 60px;
  padding-top: 15px;
}
h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}
h4 span {
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Allura", sans-serif;
}
h4 span span {
  color: #f9004d;
  font-size: 60px;
  font-family: "Allura", sans-serif;
}
.mail form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.mail form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
}
.mail form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
  transition: 0.4s;
  cursor: pointer;
}
.mail form input:last-child:hover {
  background-color: #ce0040;
  color: #000;
}
nav h2 span {
  font-family: "Allura", sans-serif;
}
/* Social Icons============================================================================*/
.nav-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 800px;
  padding-left: 40%;
  padding-right: 40%;
}
.nav-social a {
  color: #c9c9c9;
  transition: 0.4s;
}
.nav-social a:hover {
  color: #ffffff;
  font-size: 20px;
}
/* Tooltips (Social)=================================================================*/
.tooltip1:hover + .ss {
  visibility: visible;
  opacity: 1;
}
.tooltip2:hover + .ss {
  visibility: visible;
  opacity: 1;
}
.tooltip3:hover + .ss {
  visibility: visible;
  opacity: 1;
}
.tooltip4:hover + .ss {
  visibility: visible;
  opacity: 1;
}
.ss {
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
/* About space======================================Aboutspace */
.about {
  height: 100%;
  width: 100%;
  padding: 40px 0px;
  background-color: #191919;
  border-top: 7px solid #1f1f1f;
}
.about img {
  height: auto;
  width: 700px;
}
.about-text {
  width: 650px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.letstalk {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.letstalk:hover {
  transform: scale(1.1);
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
/* Service Space =============================================================================== Service Space=================================== */
.service {
  background: #101010;
  height: 100%;
  border-top: 7px solid #1f1f1f;
  padding: 100px 0px;
}
.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-right: 5px solid #222222;
  border-left: 5px solid #222222;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: white;
}
.card1 {
  height: 420px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #222222;
  border-top: 5px solid #222222;
}
.card1 i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: white;
}
.card1 .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
  scale: 1.2;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.parag {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 15px;
}
.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
.button:hover {
  background-color: transparent;
  border: 2px solid;
  transform: scale(1.2);
  cursor: pointer;
}
.test {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.test i {
  font-size: 50px;
  display: block;
}

.title h2 {
  padding-left: 50px;
}
.symbole {
  display: flex;
  justify-content: center;
  font-size: 60px;
}
/* ======================ContactMe Space====================== */
.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid #1f1f1f;
  border-bottom: 10px solid #f9004d;
}
.contact-me p {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: 2px solid;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid;
  transform: scale(1.2);
  cursor: pointer;
}
.contact-me .button-two::before {
  border-radius: 30px;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #f9004d;
}
.contact-me .button-two:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
/* ===========================SKILLS SPACE========================== */

.skills {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  border-top: 15px solid #1f1f1f;
  border-bottom: 10px solid #1f1f1f;
}

.skills h2 {
  color: #313131;
  display: flex;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;

  justify-content: center;
  border-bottom: 3px solid #f9004d;
  max-width: 550px;
  margin-top: 100px;
}
.allbande {
  display: flex;
  height: 600px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.skillsbande {
  height: 440px;
  width: 300px;
  margin: 70px auto 0px auto;
  padding: 20px;
  background-color: #191919;
  border-bottom: 5px solid #353535;
  border-top: 5px solid #353535;
  border-radius: 20px;
  display: inline-flexbox;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;
  transition: 0.4s;
}
.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}
.skill-bar {
  height: 14px;

  background: #282828;
  border-radius: 20px;
}
.skill-per {
  height: 14px;
  width: 1px;
  background: #f9004d;
  border-radius: 20px;
  position: relative;
  transition: 0.4s;
  animation: fillbars 2.5s forwards;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  font: bold;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillbars {
  form {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.skillsbande:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.skillsbande:hover + .skill-per {
  animation: fillbars 2.5s backwards;
}

/* ==========================Footer Space======================================= */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  width: 100%;
  margin: 70px auto 0px auto;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}
footer span {
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}
footer .footer-logo {
  color: #1f1f1f;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 1.3rem;
}
#p-c {
  color: #858585;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 25px;
}
/* Social Icons2============================================================================*/
.nav-social2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 65px;
  padding-left: 40%;
  padding-right: 40%;
}
.nav-social2 a {
  color: #858585;
  transition: 0.4s;
}
.nav-social2 a:hover {
  color: #191919;
  font-size: 20px;
}
/* Tooltips2 (Social)=================================================================*/
.tooltip1:hover + .ss2 {
  visibility: visible;
  opacity: 1;
}
.tooltip2:hover + .ss2 {
  visibility: visible;
  opacity: 1;
}
.tooltip3:hover + .ss2 {
  visibility: visible;
  opacity: 1;
}
.tooltip4:hover + .ss2 {
  visibility: visible;
  opacity: 1;
}
.ss2 {
  color: #191919;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
